.Rproj.user
.Rhistory
.RData
.Ruserdata
obus.Rproj
datras
data-raw/update_web.R
garbage/
docs/
inst/doc
vignettes/_freeze/
vignettes/.quarto/
vignettes_ignore
*.xlsx
*.pdf
*.html
*.fgb
.positai
AGENTS.md
